/* Author Name : Avan Panchal
Student Id : C0895319 */
body {
  font-family: Arial, sans-serif;
}

#login {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.forgotpassword {
  color: #0066c0;
  text-decoration: none;
}

.forgotpassword:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
  margin-bottom: 20px;
}

.card-body {
  padding: 2rem !important;
}

.submit-button {
  background: #ffd814;
  border-color: #fcd200;
}

.form-control:focus {
  background-color: #f7feff !important;
  border-color: #007185 !important;
  box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset !important;
}

.a-divider-inner {
  text-align: center;
  position: relative;
  top: -5px;
  padding-top: 1px;
  margin-bottom: 14px;
  line-height: 0;
}
.password-text {
  font-weight: 400;
  font-size: 28px;
  line-height: 1.2;
}

.description {
  padding: 0;
  margin: 0 0 14px 0;
  font-size: 13px;
}

.captcha-description {
  font-weight: 400;
  font-size: 17px;
  line-height: 1.255;
}

#captchaBackground {
  background-color: #f7f7f7;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#captchaHeading {
  color: #ffffff;
}

#captcha {
  height: 80%;
  width: 80%;
  font-size: 30px;
  letter-spacing: 3px;
  margin: auto;
  display: block;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#submitButton {
  margin-top: 2em;
  margin-bottom: 2em;
  border: 0px;
  font-weight: bold;
}

#refreshButton {
  background-color: #ffc107;
  border: 0px;
  font-weight: bold;
}

.incorrectCaptcha {
  color: #ff0000;
}

.correctCaptcha {
  color: #7fff00;
}

.site-footer {
  display: flex;
  align-items: center;
  background-color: #343a40;
  color: #fff;
  padding: 2rem 10rem;
}

.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.footer-info {
  margin-top: 2vh;
}

.site-footer .footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer .footer-navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.site-footer .footer-navigation ul li:last-child {
  margin-right: 0;
}

.site-footer .footer-navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.site-footer .footer-info {
  text-align: center;
}

.site-footer .social-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.site-footer .social-links a i {
  font-size: 20px;
}

@media screen and (max-width: 1040px) {
  .site-footer-container {
    display: flex;
    flex-direction: column;
  }
  .site-footer {
    padding: 1rem 1rem;
  }
  .social-links {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .site-footer-container {
    display: flex;
    flex-direction: column;
  }
  .site-footer {
    padding: 1rem 1rem;
  }
  .social-links {
    margin-top: 20px;
  }
}
