/* Author Name : Avan Panchal
Student Id : C0895319 */
body {
  font-family: Arial, sans-serif;
}

#login {
  background-color: #f7f7f7;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
}

.card-img-top {
  width: 150px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 20px;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

.forgotpassword {
  color: #0066c0;
  text-decoration: none;
}

.forgotpassword:hover {
  text-decoration: underline;
  cursor: pointer;
  color: #c45500;
  margin-bottom: 20px;
}

.submit-button {
  background: #ffd814;
  border-color: #fcd200;
}

.infoicon {
  height: 20px;
  width: 20px;
  margin-top: 2px;
}
.form-control:focus {
  background-color: #f7feff !important;
  border-color: #007185 !important;
  box-shadow: 0 0 0 3px #c8f3fa, 0 1px 2px rgba(15, 17, 17, 0.15) inset !important;
}

.a-divider-inner {
  height: 14px;
  background: -webkit-linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.14),
    rgba(0, 0, 0, 0.03) 3px,
    transparent
  );
  z-index: 0;
  zoom: 1;
}

.icon-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1rem;
  margin-top: -0.7rem;
}

.site-footer {
  display: flex;
  align-items: center;
  background-color: #343a40;
  color: #fff;
  padding: 2rem 10rem;
}

.site-footer-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

.footer-info {
  margin-top: 2vh;
}

.site-footer .footer-navigation ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.site-footer .footer-navigation ul li {
  display: inline-block;
  margin-right: 20px;
}

.site-footer .footer-navigation ul li:last-child {
  margin-right: 0;
}

.site-footer .footer-navigation ul li a {
  color: #fff;
  text-decoration: none;
}

.site-footer .footer-info {
  text-align: center;
}

.site-footer .social-links a {
  color: #fff;
  text-decoration: none;
  margin-right: 10px;
}

.site-footer .social-links a i {
  font-size: 20px;
}

@media screen and (max-width: 1040px) {
  .site-footer-container {
    display: flex;
    flex-direction: column;
  }
  .site-footer {
    padding: 1rem 1rem;
  }
  .social-links {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .site-footer-container {
    display: flex;
    flex-direction: column;
  }
  .site-footer {
    padding: 1rem 1rem;
  }
  .social-links {
    margin-top: 20px;
  }
}
