body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1550px;
  }
  
  .site-header {
    background-color: #343a40;
    color: #fff;
    padding: 15px 0;
}

.nav-item a{
  color: white;
}

.nav-item a{
  color: white;
}

.site-header .logo h1 {
    margin: 0;
    font-size: 2em;
    cursor: pointer;
    color: white;
  }
  .logo h1{
    background-color: #ff9900;
    color: white;
    padding: 7px;
    font-weight: bolder;
    border-radius: 10px;
    font-style: italic;
    color: white;
  }
  .logo h1{
    background-color: #ff9900;
    color: white;
    padding: 7px;
    font-weight: bolder;
    border-radius: 10px;
    font-style: italic;
  }

  .main-navigation{
    display: flex;
    align-items: center;
  }
  
  .main-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
  }
  
  .main-navigation ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .main-navigation ul li:last-child {
    margin-right: 0;
  }
  
  .main-navigation ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.1em;
  }
  
  .search-bar {
    display: inline-block;
    vertical-align: middle;
    margin-left: 20px;
    margin-right: 30px;
  }
  
  .search-bar input[type="text"] {
    padding: 8px;
    width: 250px;
    margin-right: 10px;
    border-radius: 10px;

  }
  
  button {
    padding: 8px 15px;
    background-color: #ff9900;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 10px;
  }
  
  .movie-container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .dark-theme{
    color: white;
    background-color: black;
  }

  
  .movie-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
  }
  
  .card-content {
    padding: 15px;
  }
  
  .card-content h2 {
    margin-top: 0;
    font-size: 1.25em;
  }
  
  .card-content p {
    margin: 8px 0;
  }
  
  .movie_header{
    display: flex;
    align-items: center;
    padding: 22px;
    /* cursor: pointer; */
    font-size: x-large;
    font-weight: bold;
    justify-content: space-between;
  }

  .movie_header button{
    font-size: medium;

  }

  .navbar-container {
    display: flex;
    align-items: stretch; /* Stretch items to fill the height */
    height: 100%; /* Set the height to 100% of the parent */
  }

  .navbar {
    display: flex;
    flex-grow: 1; /* Grow to fill the available space */
    align-items: center; /* Center contents vertically */
  }

.tv-card {
    width: 300px;
    border: 1px solid #ccc;
    border-radius: 8px;
    overflow: hidden;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
  }
  
  .tv-card .card-image img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .tv-card .card-content {
    padding: 15px;
  }
  
  .tv-card .card-content h2 {
    margin-top: 0;
    font-size: 1.25em;
  }
  
  .tv-card .card-content p {
    margin: 8px 0;
  }

  .tv-container {
    display: flex;
    justify-content: space-between;
    padding:0 20px;
    flex-wrap: wrap;
    gap: 20px;
  }

  .tv_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 22px;
    /* cursor: pointer; */
    font-size: x-large;
    font-weight: bold;
  }

  .tv_header button{
    font-size: medium;
  }

  .site-footer {
    display: flex;
    align-items: center;
    background-color: #343a40;
    color: #fff;
    padding: 20px 0;
  }

  .footer-info{
    margin-top: 2vh;
  }
  
  .site-footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .site-footer .footer-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .site-footer .footer-navigation ul li {
    display: inline-block;
    margin-right: 20px;
  }
  
  .site-footer .footer-navigation ul li:last-child {
    margin-right: 0;
  }
  
  .site-footer .footer-navigation ul li a {
    color: #fff;
    text-decoration: none;
  }
  
  .site-footer .footer-info {
    text-align: center;
  }
  
  .site-footer .social-links a {
    color: #fff;
    text-decoration: none;
    margin-right: 10px;
  }
  
  .site-footer .social-links a i {
    font-size: 20px;
  }

  .dark-theme{
    color: white;
    background-color: black;
    .site-header{
      background-color: white;
      color: #343a40;
    }
    .main-navigation ul li a {
      color:black;
  }
  .site-footer{
    color: black;
      background-color: white !important;
  }
  .site-footer .social-links a {
    color: black  ;
  }

  /* .bg-dark{
    background-color: white !important;
  } */

  .nav-link{
    color: black !important;
  }

  .navbar-toggler-icon{
    color: black;
    background-color: #ff9900;
    border-radius: 10px;
    padding: 6px;
  }

  .nav-item a{
    color: black  ;
  }
  
}

.carousel-item{
  height: 50vh;
  cursor: pointer;
}

.carousel-item img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

@media screen and (max-width: 1040px) {
.container{
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}
.logo{
  padding: 20px;
}
.main-navigation{
  margin-bottom: 20px;
}

.search-bar{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
}

.search-bar input{
  width: 30px;
}
}
@media screen and (max-width: 768px) {
  .search-bar{
    margin-top: 20px;
  } 
  
.search-bar input[type="text"] {
  padding: 2px;
  width: 50px;
  margin-right: 10px;
  border-radius: 10px;
}
.search{
  margin-left: 1px;
  margin-right: 8px;
}
.search_btn{
  /* margin-top: 10px;  */
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.toggle_theme{
  margin-top: 30px;
  margin-right: 10px;
}



.search-bar input[type="text"] {
  padding: 8px;
  width: 150px;
  margin-right: 10px;
  border-radius: 10px;

}

.tv-card .card-content {
  padding: 25px;
}

.movie-card .card-content{
  font-size: 200;
}

.tv-card .card-content{
  font-size: 200;
  display: flex;
  align-items: center;
}
}

@media screen and (max-width: 768px) {
  .search-bar{
    margin-top: 20px;
  }

  
.search-bar input[type="text"] {
  padding: 2px;
  width: 50px;
  margin-right: 10px;
  border-radius: 10px;
}
.search{
  margin-left: 1px;
  margin-right: 8px;
}
.search_btn{
  margin-top: 5px;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* align-items: center; */
}

.toggle_theme{
  margin-top: 30px;
  margin-right: 10px;
}



.search-bar input[type="text"] {
  padding: 8px;
  width: 150px;
  margin-right: 10px;
  border-radius: 10px;

}

.tv-card .card-content {
  padding: 25px;
}

.movie-card .card-content{
  font-size: 200;
}

.tv-card .card-content{
  font-size: 200;
}

.movie-container{
  margin: 10px;
  justify-content: center;
}

.tv-container{
  margin: 10px;
  justify-content: center;
}

.movie-card{
  margin: 10px;
  }

  .tv-card{
    margin: 10px;
  }

  .site-footer{
    margin-top: 25px;
  }
}

.desktop-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu li {
  margin-right: 20px;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-navigation ul {
    display: none;
  }

  .search-bar{
    display: none;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-menu li {
    margin-bottom: 10px;
  }

  .mobile-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .mobile-menu-toggler{
    display: inline-block;
  }
}

@media screen and (min-width: 768px){
   .hide-it{
    display: none;
  }
}

@media screen and (min-width: 1150px){
  /* .mobile-menu-toggler{
    display: none;
  } */
}

/* Ensure the hamburger icon is visible */
.navbar-toggler {
  border: 1px solid #fff; /* Change the color of the icon border */
  color: #fff !important; /* Change the color of the icon */
}

/* Optional: Increase the size of the hamburger icon */
.navbar-toggler-icon {
  font-size: 1.5rem; /* Change the font size as needed */
}

.navbar{
  display: flex;
  flex-direction: row;
}

.desktop-menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.desktop-menu li {
  margin-right: 20px;
}

.mobile-menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .main-navigation ul {
    display: none;
  }

  .theme-btn{
    position: absolute; right: 80px; top: 0px; cursor: pointer;
  }
  

  .mobile-menu {
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .mobile-menu li {
    margin-bottom: 10px;
  }

  .mobile-menu li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
  }
  
  .mobile-menu-toggler{
    display: inline-block;
  }
}

@media screen and (min-width: 768px){
  .mobile-menu-toggler{
    display: none;
  }
}

/* Ensure the hamburger icon is visible */
.navbar-toggler {
  border: 1px solid #fff; /* Change the color of the icon border */
  color: #fff !important; /* Change the color of the icon */
}

/* Optional: Increase the size of the hamburger icon */
.navbar-toggler-icon {
  font-size: 1.5rem; /* Change the font size as needed */
}

@media screen and (min-width: 768px) and (max-width: 1150px) {
.search-bar input{
  display: none;
}

  .theme-btn{
    position: absolute !important;
    right: 17px !important;
    top: 15px !important;
  }

}